#!/usr/bin/perl
# vim: set ai sw=4 ts=4 tw=80:


#   iaoptions.config $Version 1.3 2010.08.23$
#   Copyright (C) 2004-2010 Sincrotrone Trieste S.C.p.A.
#   <http://www.elettra.trieste.it> by Ivan Andrian
#
#   configuration file for: 
#                         
#   JACoW.upload             
#   editor.download         
#   metadistill             
#   distill                 
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 2 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software
#   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#   You can also get a copy of the license through the web at
#   <http://www.gnu.org/licenses/gpl.html>

package iaoptions ;

use Archive::Zip qw( :ERROR_CODES :CONSTANTS );

my %script_options =(
	#
	# Common options
	#
    "root_dir"      =>"/tmp/",      # base dir where paper dirs are located
    "debug"         =>0,            # 1 shows useful info, 0 is for production
                                    # 2 shows useful info *without* dumpValue
	#
	# Upload options
	#
    "max_size"      =>100000000,    # max bytes allowed: 0 is unlimited
    "check_type"    =>"pdf,ps,eps", # this_file_type's to check
    "uppercase"     =>"tran,pdf,ps,eps",
                                    # which file types to uppercase (note:
                                    # file types in the SPMS 'sense', NOT file extensions!
                                    # be sure to include transparencies (TRAN)
    "lowercase"     =>"",           # which file types to lowercase (idem)
    "upload_chmod"  =>0666,         # set this to "" or 0 in Window$
    "counter_length"=>4,            # count length for version (ABCD.0001.DOC)
	#
	# Distill options
	#
    "distill"       =>0,            # wether to distill (1) or not (0)
    "dist_dir"      =>"/var/lib/vmware/shares/watchedfolders/in/",      
									# base dir where paper are being distilled
    "out_dir"       =>"/var/lib/vmware/shares/watchedfolders/out/",      
									# base dir where the PDFs are expected
    "prefix"        =>'JACoW-',     # prefix for temporary PS file
    "infix"         =>'.AUTODISTILL',     # infix for auto-distilled PDF, to be saved in the "file upload" area
    "distrole"      =>'AUTHOR',     # role (sent by the SPMS) to distill for. Any if empty
	"timeout"		=>600,			# timeout (seconds) after wich give up
	"sleep"			=>5,			# how much (seconds) to sleep between checks
    "proxy"         =>"",           # proxy server, syntax: http://proxy.domain.dom:port/
                                    # leave empty if your server does not require any
	#
	# zipdownload part
	#
	"tmp_dir"		=>"/tmp/",		# temporary directory for the ZIP files
	"logext" 		=>".JACoW_log",
	"loggen"		=>".general.JACoW_log",
	"lastext"		=>'< last >',

	"mask"			=>".JACoW_log",	# comma-separated extensions of files not 
									# to show on the interface
	"forceview"		=>".general.JACoW_log",	# comma-separated extensions of files 	
									# to show regardless of the mask
    "compression"   =>COMPRESSION_DEFLATED,   # compression method: use 
                                    # COMPRESSION_STORED not to compress: 
                                    #   low impact on server performance, 
                                    #   big files, high download times
                                    # COMPRESSION_DEFLATED to compress:
                                    #   high impact on server performance, 
                                    #   small files, low download times
	#
	# Dummy part
	#
    "dummy"         =>0             # dummy value to end the hash definition
);



##########################
# methods
##########################

require 'dumpvar.pl' if iaoptions::get('debug') == 1 || iaoptions::get('log');    # DEBUG || LOG

sub get {
	my $what = $_[0];
	if (exists($script_options{$what}) ) {
		return $script_options{$what};
	} else {
		return 0;
	}	
}

sub set {
        my $para = $_[0];
            my $what = $_[1];
                $script_options{$para} = $what;
            }

sub keys {
	return keys(%script_options);
}


sub dump {
        main::dumpValue(\%script_options);
}


1;

=head1 NAME

iaoptions.config

Main (and only) configuration file for JACoW.upload, editor.download, distill,
metadistill etc.
 
=head1 DISTILL PARAMETERS

If the parameter "distill" is set to 1, any PS file uploaded by authors will be
converted to PDF and shown, in order to help detecting errors immediately.

In order to have this distill feature working, you need an external tool to
generate these PDF's. What the upload script will do is to place the PS in a
certain directory, and wait for a generated PDF to appear in another (or an
error log given).

You will need to tune the following parameters: 

dist_dir: the directory where to place the PostScript file to be converted

out_dir : the directory where the distill script will expect the PDF or the LOG


Other tunable parameters could be the following ones (but we discourage doing it)

distrole: SPMS roles to distill for (default is 'AUTHOR')

timeout : seconds to wait for the PDF (default is 10 minutes!)

sleep   : seconds to wait between every check (default is 5)

proxy   : server needed to access the Internet, if needed by the file server
          default is empty, meaning no proxy needed.
          syntax is: http://proxy.domain.dom:port/


